.card {
  /* flex: 1 1 200px;  Stretching: */
  flex: 0 1 20rem; /*  No stretching: */
  margin: 2.4rem;
  max-width: 60rem;
  background-color: transparent;
  perspective: 100rem; /* Provides a 3D effect */
  transform-style: preserve-3d;
  position: relative;
  transition: transform 0.8s;
  /* box-shadow: 0 0.2rem 1.2rem rgba(66, 196, 127, 0.075); */
  box-shadow: 0 0.4rem 1.6rem rgba(247, 205, 8, 0.35);
  border-radius: 1rem;
  overflow: hidden;
  /* padding-bottom: 0.8rem; */
}

.card img {
  width: 100%;
}

.card p {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2;
  padding: 0.8rem;
  text-align: start;
}
.inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.4s;
  transform-style: preserve-3d; /* Enable 3D space for children */
  position: relative;
}

.card .inner.clicked {
  transform: rotateY(180deg);
}

.card:hover {
  transform: translateY(-0.8rem);
  /* transform: rotateY(180deg); */
}

.front,
.back {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /*Hide the back side */
}

.back {
  transform: rotateY(180deg);
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.back span {
  padding-top: 1.2rem;
}

.front {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.front h3 {
  padding: 0.8rem;
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 3rem;
}

.icon {
  height: 4.8rem;
  width: 8.4rem;
  color: #42c47e;
  margin: 0;
  padding: 0;
}
