.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about {
  padding: 9.6rem 6.4rem 0;
  border-bottom: solid 1px #42c47e;
  background-color: #ecf9f2;
}

.heading {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
  padding-left: 5.2rem;
}
