.section-hero {
  background-color: #ecf9f2;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.heading-primary {
  font-weight: 700;
  color: 333;
  letter-spacing: -0.2rem;
  font-size: 4.4rem;
  line-height: 1.05;
  padding-bottom: 6.4rem;
}

.hero-features-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.hero-feature-item {
  display: flex;
  /* flex-wrap: wrap;
  justify-content: center; */
  justify-content: space-between;
  align-items: center;
  gap: 2.4rem;
  padding-left: 9.8rem;
  padding-bottom: 2.4rem;
}

.hero-feature-text {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.6rem;
  letter-spacing: -0.65;
}

.hero-feature-image {
  height: 5.2rem;
  width: 5.2rem;
  border-radius: 50%;
}

.hero-img {
  width: 100%;
  border: 0.8rem solid #f7cd08;
  border-radius: 50%;
}

.hero-icon {
  height: 4.8rem;
  width: 8.4rem;
  color: #42c47e;
  margin: 0;
  padding: 0;
}

.icon {
  display: inline-block;
  stroke-width: 1;
  stroke: currentColor;
  fill: currentColor;
}
